
body {
    background-color: #212529;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

#muunnos {
    font-size: 30px;
}